<?php

declare(strict_types=1);

require __DIR__.'/../vendor/autoload.php';

# 填写你的 Github client_id
const CLIENT_ID = 'your_github_client_id';
# 填写你的 Github client_secret
const CLIENT_SECRET = 'your_github_client_secret';
