<?php

declare(strict_types=1);

// client_id 填写你的 Github client_id
// client_secret 填写你的 Github client_id

return [
    'client_id' => 'your_client_id',
    'client_secret' => 'your_client_secret',
];
