<?php

declare(strict_types=1);

return [
    // 填写你的 Github client_id
    'client_id' => 'your_github_client_id',
    // 填写你的 Github client_secret
    'client_secret' => 'your_github_client_secret',
];
